/* src/components/Organisms/ActionButtons.css */

.action-buttons {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #f7bfdbd0;
    border-radius: 10px;
    background-color: #f7bfdbd0;
  }
  
  .action-buttons > div {
    margin-bottom: 20px;
  }
  
  .action-buttons h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #030303;
  }
  
  .action-buttons .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6d2d30;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .action-buttons .button-link:hover {
    background-color: #5a1f1c;
  }
  
  .action-buttons .button-link:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .action-buttons .cofre-left, .action-buttons .cofre-right, .action-buttons .modificar-personal, 
  .action-buttons .asesorias, .action-buttons .contactos, .action-buttons .RegistroDatosEconomicos,
  .action-buttons .RegistroDatosVivienda {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .action-buttons .cofre-left, .action-buttons .cofre-right {
    display: flex;
    justify-content: space-between;
  }
  
  .action-buttons .cofre-left h1, .action-buttons .cofre-right h1 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #030303;
  }
  