.container-carousel {
    width: 100%;
    max-width: 1200px; /* Máximo ancho del carrusel */
    margin: 0 auto; /* Centrar el carrusel */
    padding: 20px;
    background-color: #f7f7f7; /* Fondo claro para contraste */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease-in-out; /* Transición suave */
  }
  
  .container-carousel:hover {
    transform: scale(1.02); /* Ligeramente agrandar al pasar el ratón */
  }
  
  .container-carousel img {
    width: 100%;
    border-radius: 8px; /* Bordes redondeados en las imágenes */
    transition: opacity 0.3s ease-in-out; /* Transición de opacidad suave */
  }
  
  .container-carousel img:hover {
    opacity: 0.9; /* Ligeramente reducir la opacidad al pasar el ratón */
  }
  
  /* Estilo para pantallas pequeñas */
  @media (max-width: 768px) {
    .container-carousel {
      padding: 10px;
    }
  }
  