/* ProfileInfo.css */
/* Contenedor De todo el perfil */
.profile-content {
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  /* Div que contiene el div de perfil y de resumenCita */
  .details-content{
    display: flex;
    padding-bottom: 5%;
  }

  .profile-info{
    background-color:rgb(255, 240, 249);
  }
  
