/* RegistroEconomico.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.registro-form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  width: 100%;
}

.registro-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-field input,
.form-field select {
  width: calc(100% - 22px); /* Ajusta el tamaño para el padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.boton2 {
  padding: 15px;
  background-color: #994caf;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 120px; /* Asegura que el botón tenga el mismo ancho que los campos del formulario */
  margin-left: -3px;
}

.boton2:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .registro-form {
    padding: 20px;
  }
  
  .form-field input,
  .form-field select {
    font-size: 14px;
    padding: 8px;
  }
  
  .submit-button {
    padding: 10px;
    font-size: 14px;
  }
}
