/* Contenedor principal del formulario */
.registro-economico-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para darle profundidad */
}

/* Título del formulario */
.registro-economico-container h1 {
  color: #4a148c; /* Color morado oscuro */

  margin-bottom: 20px;
  text-align: center;
}

/* Contenedor de cada grupo de formulario */
.form-group {
  margin-bottom: 15px;
  box-shadow: none;
}

/* Estilos para los labels del formulario */
.registro-economico-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333; /* Color del texto */
}

/* Estilos para los inputs del formulario */
.registro-economico-container input[type="text"],
.registro-economico-container input[type="number"],
.registro-economico-container select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Estilos para el botón de envío */
.registro-economico-container button {
  background-color: #6a1b9a; /* Color morado */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease;
}

.registro-economico-container button:hover {
  background-color: #4a148c; /* Morado oscuro en hover */
}

/* Estilo adicional para el select */
.registro-economico-container select {
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}
