/* Estilos generales */
.registro-denuncia {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f6f9; /* Fondo claro y profesional */
}

.registro-denuncia-form-container {
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.registro-denuncia-form-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px; /* Ancho máximo para contenido */
  margin-top: 5%;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el formulario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.registro-denuncia-form {
  flex: 1;
}

.registro-denuncia-form h1 {
  color: #2c3e50; /* Color para títulos */
  font-size: 28px;
  margin-bottom: 20px;
}

.registro-denuncia-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.violentometro {
  max-width: 80%;
  height: auto;
  border-radius: 8px; /* Bordes redondeados en la imagen */
}

.registro-denuncia-list {
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para la lista */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 20px;
}

.titulo {
  font-size: 24px;
  color: #2c3e50; /* Color para títulos */
  margin-bottom: 20px;
}

.loading-message,
.error-message,
.no-data-message {
  color: #e74c3c; /* Color para mensajes de error */
  font-size: 16px;
}

.denuncias-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.denuncias-table th,
.denuncias-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.denuncias-table th {
  background-color: #3498db; /* Color de fondo para los encabezados de la tabla */
  color: #ffffff; /* Color de texto para los encabezados */
}

.denuncias-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Fila alterna con fondo gris claro */
}

.denuncias-table tr:hover {
  background-color: #e8f0f2; /* Color de fondo al pasar el ratón por encima */
}
