/* Contenedor principal */
.service-view-wrapper {
  display: flex;
  flex-direction: column;
  height: 871px;
}

/* Contenedor para el contenido principal */
.service-view-container {
  display: flex;
  justify-content: space-between; /* Alinea los contenedores a los extremos izquierdo y derecho */
  align-items: flex-start; /* Alinea los contenedores en la parte superior */
  flex: 1; /* Permite que el contenido principal ocupe el espacio disponible */
  padding: 20px;
  background-color: #f4f4f4; /* Fondo suave para todo el contenedor */
  margin-top: 10%;
}

/* Contenedor de los items de servicio a la izquierda */
.service-item-container-left {
  flex: 1; /* Ocupa el espacio disponible en el lado izquierdo */
  display: flex;
  flex-direction: column; /* Alinea los items verticalmente */
  max-width: 45%; /* Ancho máximo del contenedor en el lado izquierdo */
}

/* Contenedor de los items de servicio a la derecha */
.service-item-container-right {
  flex: 1; /* Ocupa el espacio disponible en el lado derecho */
  display: flex;
  flex-direction: column; /* Alinea los items verticalmente */
  max-width: 45%; /* Ancho máximo del contenedor en el lado derecho */
}

/* Estilos para cada item de servicio */
.service-item {
  margin: 10px;
  padding: 20px;
  height: 300px;
  display: flex; /* Utiliza flexbox */
  flex-direction: column; /* Alinea elementos verticalmente */
  justify-content: space-between; /* Distribuye el espacio verticalmente */
  align-items: center; /* Centra contenido horizontalmente */
  text-align: center; /* Alineación del contenido */
  background-color: #fff; /* Fondo blanco para los items */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
  transition: transform 0.3s ease; /* Efecto de transición para el hover */
}

.service-item:hover {
  transform: scale(1.02); /* Efecto de zoom al pasar el ratón */
}

/* Estilos para el título de cada item */
.service-item h2 {
  font-size: 24px;
  color: #4a148c; /* Color morado oscuro */
  margin-bottom: 10px;
}

/* Estilos para el párrafo de cada item */
.service-item p {
  font-size: 16px;
  color: #666; /* Color gris para el texto */
  margin-bottom: 15px;
}

/* Estilos para el enlace del botón */
.service-button-link {
  display: inline-block; /* Ajusta el botón como bloque en línea */
  background-color: #6a1b9a; /* Color de fondo inicial del botón */
  color: #fff; /* Color del texto */
  text-decoration: none;
  padding: 10px 20px; /* Tamaño del botón */
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones para el hover */
  width: 100%; /* Ancho completo del contenedor */
  max-width: 220px; /* Ancho máximo para el botón */
  text-align: center; /* Centrar texto dentro del botón */
}

.service-button-link:hover {
  background-color: #a777d4; /* Color de fondo del botón en hover */
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}
