
.perfil-content {
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.152);
    border-radius: 10px;
    margin-top: 10%;
    padding: 20px;
    background-color: #be95ddc8;
  }
  
  /* Titulo */
  .perfil-header {
    text-align: center;
    margin-bottom: 20px;
    color: #030303;
  }
  
  /* Titulo */
  .perfil-header h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #030303;
  }
  
  
  
  
  