
  .tableContainer .MuiTableCell-root {
    padding: 16px;
  }
  
  .tableContainer .MuiTableHead-root .MuiTableCell-root {
    background-color: #8d1ed6b3;
    color: white;
    font-weight: bold;
    padding-left: 15px;
  }
  
  .tableContainer .MuiTableBody-root .MuiTableCell-root {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding: 15px;
  }
  .verCitasTable{
    flex: 1;
    flex-direction: column;
    min-height: 64.1vh;
  }

  .MuiBox-root{
    font-size: 20px;
  }
  .botonAdd {
    color: black;
    background-color: #8d1ed6b3;
  }
  
  .botonAdd:hover {
    background-color: #6616a1;
  }
  