.MainConteiner{
  height: 700px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.calendar-container .calendar-side,
.calendar-container .time-side {
  flex: 1;
  margin: 0 20px;
}

.calendar-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.time-picker {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.time-picker button {
  padding: 10px;
  background-color: #78383D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.time-picker button.selected {
  background-color: #707070;
}

.time-picker button:disabled {
  background-color: #8a8a8a;
  cursor: not-allowed;
}

.booking-summary {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.booking-summary button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.booking-summary button:hover {
  background-color: #218838;
}

.tipo-cita{
  position: relative;
  margin: 20px 0;
  background-color: #d7d7d7;
  border-radius: 50px;
}

.checkbox{
  position: relative;
  margin: 20px 0;
  background-color: #d7d7d7;
  border-radius: 50px;
}
