:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: bisque no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FFF6EE;
}

*,
*::after,
*,
*::before {
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}


