*,*::after, *,*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    background-color: #C82F63;
}

.nav__brand{
    text-transform: uppercase;
    font-weight: bold;
}   
.nav__Menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav__toggler div{
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background-color: darkgray;
}

@media screen and (max-with: 768px) {
    .nav__toggler{
        display: block;
    }
    .nav__Menu{
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: #C82F63;

    }
}