.main-sectionx {
  display: flex;
  flex-direction: column;
}
.content-wraper2 {
  width: 48%;
  padding-bottom: 10%;
}

.Vision {
  width: 100%;
  background-color: #f5d7e1;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

.main-content1,
.main-content2 {
  width: 48%;
}

.main-content1 {
  height: auto;
}

.main-content2 {
  height: auto;
}

.title {
  width: 100%;
  height: 45px;
  text-align: center;
  background-color: antiquewhite;
}

.Programas_destacados,
.noticias {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5d7e1;
}

.seccion1,
.seccion2,
.noticia-seccion1,
.seccion-vision {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 10px;
}

.image1,
.image2,
.img-noticia {
  margin-right: 20px;
}

.image1 img,
.image2 img,
.img-noticia img {
  max-width: 200px;
  height: auto;
}

.contenido1,
.contenido2,
.descripcion1,
.descripcion2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descripcion1,
.descripcion2 {
  font-size: 16px;
}
