.title {
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }