.Conteiner-MyCarrousel {
  min-width: 35%;
  max-width: 70%; /* Cambiado de 30% a 90% para abarcar casi todo el ancho de la página */
  margin: 0 auto; 
  padding: 20px; 
  background-color: #f8f8f8;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.carousel .slide img {
  width: 80%;
  border-radius: 10px; /* Esquinas redondeadas de las imágenes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de las imágenes */
}

.carousel .control-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px; /* Espaciado interno */
}

.carousel .control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Mayor opacidad al pasar el ratón */
}

/* Posicionamiento de las flechas */
.carousel .control-prev.control-arrow {
  left: 15px; /* Flecha anterior */
}

.carousel .control-next.control-arrow {
  right: 15px; /* Flecha siguiente */
}

/* Ocultar el contador de slides */
.carousel .carousel-status {
  display: none;
}

/* Ocultar las miniaturas (thumbnails) */
.carousel .thumbs-wrapper {
  display: none;
}

/* Evitar desbordamiento del contenedor del carrusel */
.carousel .carousel-slider {
  overflow: hidden;
  border-radius: 10px;
}
