.main-section {
  display: flex;
  flex-direction: column;
}

.content-wrapper, .content-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10%;
}

.content-wrapper .main-content1,
.content-wrapper .main-content2,
.content-wrapper2 .main-content-vision,
.content-wrapper2 .main-content-mision2 {
  width: 100%;
  margin-bottom: 20px;
}

.content-wrapper .main-content1,
.content-wrapper .main-content2,
.content-wrapper2 .main-content-vision,
.content-wrapper2 .main-content-mision2 {
  height: auto;
}

@media (min-width: 1024px) {
  .content-wrapper, .content-wrapper2 {
    flex-direction: row;
  }

  .content-wrapper .main-content1,
  .content-wrapper .main-content2,
  .content-wrapper2 .main-content-vision,
  .content-wrapper2 .main-content-mision2 {
    width: 48%;
    margin-bottom: 0;
  }
}

.title {
  width: 100%;
  height: 45px;
  text-align: center;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Programas_destacados,
.noticias,
.Vision,
.Mision {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.seccion1,
.seccion2,
.seccion-vision,
.seccion-mision {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #f5d7e1;
  border: 2px solid black;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .seccion1,
  .seccion2,
  .seccion-vision,
  .seccion-mision {
    flex-direction: row;
  }
}

.image1,
.image2,
.img-noticia {
  margin-right: 20px;
}



.image1 img,
.image2 img,
.img-noticia img {
  max-width: 400px;
  height: auto;
}

.contenido1,
.contenido2,
.descripcion1,
.descripcion2,
.descripcion-vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5d7e1;
}

.descripcion1,
.descripcion2,
.noticia_descripcion2,
.descripcion-vision {
  font-size: 16px;
}

.notify-button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.notify-button:hover {
  background-color: #1c86ee;
}
