/* CardInformativo.css */
.program {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #6a1b9a; /* Fondo morado */
  border-radius: 8px; /* Bordes redondeados */
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out; /* Transición suave */
}

.program:hover {
  transform: translateY(-10px); /* Efecto de elevación al pasar el ratón */
}

@media (min-width: 768px) {
  .program {
    flex-direction: row;
  }
}

.image-container {
  margin-right: 60px;
}

.image-container img {
  max-width: 400px; /* Tamaño de imagen más pequeño */
  height: 180px;
  border-radius: 8px; /* Bordes redondeados en la imagen */
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6a1b9a; /* Fondo morado */
  color: #ffffff; /* Letras blancas */
}

.description-container p {
  font-size: 20px;
  margin: 6px 0; /* Margen entre párrafos */
  line-height: 30px;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
  .program {
    align-items: center;
  }
  .image-container {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
