.footer {
  background-color: #c82f63;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.footer-content {
  display: flex;
  align-items: flex-end;
  max-width: 1000px;
  margin: auto;
}

.footer-logo img {
  max-width: 30%;
  height: auto;
}

.footer-sections {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-section {
  margin-left: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #f7f7f7;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}
