/* Navbar styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #651d77;
  color: #fff;
  padding: 10px 20px;
  position: fixed; /* Fija el navbar en la parte superior */
  width: 100%;
  height: 80px;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  transition: top 0.3s; /* Agrega una transición suave al cambiar la posición */
}

.nav__left {
  display: flex;
  align-items: center;
}

.nav__brand {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav__toggler {
  display: none; /* Oculta el botón de hamburguesa en pantallas grandes */
  cursor: pointer;
}

.nav__toggler > div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.nav__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; /* Alinea los enlaces en fila en pantallas grandes */
  align-items: center; /* Centra los enlaces verticalmente */
  position: relative; /* Cambia a posición relativa para menú desplegable */
}

.nav__menu > .nav__item {
  margin-left: 20px; /* Espaciado entre los enlaces */
}

.nav__link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav__icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.nav__link:hover {
  color: #f0f0f0;
}

/* Estilos específicos para el menú desplegable en pantallas pequeñas */
@media (max-width: 768px) {
  .nav__toggler {
    display: block; /* Muestra el botón de hamburguesa en pantallas pequeñas */
  }

  .nav__menu {
    display: none; /* Oculta el menú en pantallas pequeñas por defecto */
    flex-direction: column; /* Cambia la dirección del menú a columna */
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    height: 100vh;
    width: 250px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%); /* Inicialmente fuera de la pantalla */
    transition: transform 0.3s ease;
  }

  .nav__menu.open {
    display: flex; /* Muestra el menú desplegable */
    transform: translateX(0); /* Muestra el menú en pantalla */
  }

  .nav__item {
    margin: 10px 0; /* Ajusta el espaciado entre los enlaces en pantallas pequeñas */
  }

  .nav__link {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
  }

  .nav__icon {
    margin-right: 15px; /* Ajusta el margen del ícono en pantallas pequeñas */
    font-size: 1.5rem; /* Ajusta el tamaño del ícono en pantallas pequeñas */
  }
}
