
/* Div principal del perfil de usuaria */
.profile-info{
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.218);
    background-color: #f7f7f7;
    max-height: 400px;
  }
  /* Imagen-contenedor */
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    margin-left: 186px

  }
  /* Imagen en si */
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }
  
  .dataContainer{
    background-color: antiquewhite;
  }
  
  