:root {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 476;  
  background-color: #fff no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f6f8f8;
}

*,
*::after,
*,
*::before {
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}


